

.container{
    display: flex;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(44, 204, 164);
    justify-content: space-between;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}

.login, p {
    text-align: center;
}

form{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}



